<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CS BTL Quiz</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>CS BTL Quiz</h1>
    <p>Explore your cognitive level based on Bloom’s Taxonomy</p>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <button onclick="location.href='/contribute'">Contribute Question</button>
    <button onclick="location.href='quiz.html'">Take Quiz</button>
  </div>
</body>
</html>
